*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    width: 445px;
    height: 520px;
    background: #000;
    color: #fff;
    border-radius:10px;
}
.date{
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #20b2aa;
    border-radius: 10px 10px 0 0;
}
.date h2{
    text-transform: uppercase;
    padding: 10px;
    font-weight: 500;
}
.weekdays{
    display: flex;
    font-weight: bold;
    padding: 10px 0;
}
.weekdays p{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 64px;
}
.days{
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    padding: 0px 5px;
}
.days p{
    margin: 5px 4px 0 0;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    height: 58px;
    width: 58px;
}
.days p:hover:not(.empty){
    border: 2px solid #808080;
    cursor: pointer;
}
.days p.active{
    border-radius: 50%;
    background: #20b2aa;
}