:root{
  --bg-primary:#021229;
}

*,html,body{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  display:flex;
  justify-content:center;
  align-items: center;
  height:100vh;
}

canvas{
  background-color:var(--bg-primary);
}

